body {
  background-color: #d1e5f4;
}

.container {
  font-family: sans-serif;

  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
}

h1 {
  color: #021691;
  line-height: 1.5;
  margin: 20px;
  text-align: center;
}

.form-container {
  background-color: white;
  padding: 30px 40px;
  margin: 20px auto;
  width: 80%;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 5px 3px 3px rgba(191, 191, 191, 0.5);
}

.search {
  display: flex;
}

.hint {
  font-size: 12px;
  opacity: 0.4;
  line-height: 1.5;
  margin-top: 5px;
}

.search-form {
  font-size: 16px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid #0277bd;
}

.answer {
  background-color: white;
  padding: 30px 40px;
  margin: 20px auto;
  width: 80%;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  border-left: 3px solid #0277bd;
  box-shadow: 5px 3px 3px rgba(191, 191, 191, 0.5);
}

.answer strong {
  color: #0277bd;
}

.hidden {
  display: none;
}

.submit-button {
  font-size: 16px;
  margin-left: 5px;
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  background-color: #0277bd;
  color: white;
}

footer {
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

a {
  color: #021691;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
